.searchbar{
    background-color: #f0f0f0;
    width: fit-content;
    margin: 2rem auto 4rem auto;
    padding: .6rem 1rem;
    border-radius: 0.3rem;
}
.searchbar form{
    display: flex;
    align-items: center;
    /* width: 100%; */
    height: 100%;
}
.searchbar input{
    background-color: #f0f0f0;
    outline: none;
    border: none;
    font-size: 1.1rem;
    
}
.searchbar span{
    padding-right:.5rem ;
    cursor: pointer;
    color: crimson;
}
.searchbar button{
    border: none;
    outline: none;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
    background-color: rgb(16, 163, 173);
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-left: 0.2rem;

}
.searchbar button:hover{
    color: black;
    background-color: rgb(18, 179, 83);
    transition: all 0.4s ease;
}